p {
    margin: 10px auto;
    font-size: 8px;
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    padding: 5px;
}

#paragraf1 {
    background-color: cornflowerblue;
}
#paragraf2 {
    background-color: cadetblue;
}
#paragraf3 {
    background-color: rgb(92, 116, 160);
}
#paragraf4 {
    background-color: rgba(226, 26, 26, 0.699);
}
#paragraf5 {
    background-color: rgba(237, 100, 100, 0.219);
}